
<div class="jumbotron" align="center">
	<h1>Welcome to MyRecepies App </h1>
	<h2>The Best Recepie Sharing App</h2>
	<p><%= link_to "Sign Up or Log In", "#", class: "btn btn-danger btn-lg" %></p>
</div>
